<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alice.afroapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AfroDevMeet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".AfroApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Prof"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MentorList"
            android:icon="@drawable/app_logo"
            android:label="@string/title_activity_mentor_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddProf"
            android:icon="@drawable/app_logo"
            android:label="@string/SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Post"
            android:label="Post" />
        <activity
            android:name=".Listcomments"
            android:label="@string/Comments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Listquestions"
            android:label="@string/question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionsActivity"
            android:label="@string/AfroDevMeet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/AfroDevMeet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>